/* Override default CSS with Nord Colors*/
.background {
	fill: #2e3440;
}

.node {
  fill: #bf616a;
	stroke: #d08770;
}

text,
tspan {
  fill: #e5e9f0;
  text-anchor: middle;
}

.path {
  fill: none;
	stroke: #b48ead;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.connection .arrowhead {
  stroke: #b48ead;
  fill: #b48ead;
}

/* Custom classes */
.my-blue .node {
	fill: #5e81ac;
  stroke: #88c0d0;
}

.my-green .node {
	fill: #a3be8c;
  stroke: #8fbcbb;
}

.my-orange .node {
	fill: #d08770;
  stroke: #ebcb8b;
}

.my-yellow .node {
	fill: #ebcb8b;
  stroke: #a3be8c;
}

.my-destination .node {
	fill: #5e81ac;
  stroke: #88c0d0;
}

.my-destination text {
	fill: #e5e9f0;
}

.my-south-connection .path,
.my-south-connection .arrowhead {
	fill: #ebcb8b;
	stroke: #ebcb8b;
}